      <p class="text-sm text-gray-600 dark:text-gray-400">
        <div id="question">
        <h5 class="inline-flex text-gray-600 dark:text-gray-400 items-center w-full text-sm font-semibold transition-colors duration-150">{{question.title}}</h5>
        <div class="mb-4 text-gray-600 dark:text-gray-400">{{question.body | urlize }}</div>
        <div class="flex justify-left mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
            <span> By {{ question.user }}</span> 
            <span class="separator">|</span>  
            <span>{{ question.x_ago }}</span>
          {% if not asked_by_user %}
            <span class="separator">|</span>
            <a href="javascript:void(0)" v-on:click="vote('upvote', upvoted, '/question/{{question.id}}/vote')" :class="[[upvoted ? 'done' : '']]" class="text-secondary">upvote</a>
            <span class="separator">|</span>
            <a href="javascript:void(0)" v-on:click="vote('downvote', downvoted, '/question/{{question.id}}/vote')" :class="[[downvoted ? 'done' : '']]" class="text-secondary">downvote</a>
          {% endif %}
          <span class="separator">|</span>
          <span>[[points]] points</span>
        </div>
        <answer
          v-for="answer in answers"
          v-bind:key="answer.id"
          v-bind:answer="answer"
        ></answer>

        <hr class='answer-hr'/>
        {% if current_user.is_authenticated %}
        <form action="/question/{{question.id}}/answer" method="post">
          {% csrf_token %}    
          <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <label class="block mt-4 text-sm">
              <div class="relative text-gray-500 focus-within:text-purple-600">
                <!-- <textarea class="block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input" id="text" name="text" rows="7" placeholder="Type your answer here." required></textarea> -->
                <input id="text" name="text" rows="7" class="block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input" placeholder="Type your answer here.">
                <button type="submit" class="absolute inset-y-0 right-0 px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-r-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                  Submit
                </button>
              </div>
            </label>
          </div>

        </form>
        {% else %}
        <p><a href="{% url 'login' %}">Log in to answer this question</a></p>
        {% endif %}

        </div>     
      </p>
